#all-table {
    width: 1200px;
    min-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding-bottom: 50px;
}

.all-item {
    width: 228px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    font-size: 14px;
}
.all-item .flat-img {
    width: 228px;
}
.all-item .flat-item-detail {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.flat-item-detail > ul {
    display: flex;
    justify-content: space-between;
}

#all-not-flat {
    width: 1200px;
    height: 600px;
    border-radius: 15px;
    background: #e6c8ad4d;
    font-weight: 600;
    font-size: 20px;
    flex-direction: column;
    gap: 20px;
}
#all-not-flat a {
    padding: 10px 20px;
    background: var(--main-orange);
    color: white;
    border-radius: 15px;
}
