@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

:root {
    --main-orange: #ff681b;
    --orange-hover: #ef590e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
    color: #333;

    list-style: none;
    text-decoration: none;
    outline: none;
}

button {
    border: none;
    cursor: pointer;
}

/* common class */
.display-flex {
    display: flex;
}
.display-flex-set {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-hover {
    cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.background {
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
}

header {
    width: 1200px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header-logo {
    width: 200px;
}
nav {
    gap: 70px;
}
#header-user {
    gap: 30px;
}
#header-user > p {
    display: none;
}
#header-user #header-hello:hover {
    text-decoration: underline;
}
#header-user button {
    background-color: white;
    border: thin solid lightgray;
    border-radius: 15px;
    padding: 7px 10px;
}

.page-title {
    width: 1200px;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 20px;
}

/* filter */
.page-title .page-filter {
    border: thin solid lightgray;
    border-radius: 15px;
    padding: 7px;
    font-size: 16px;
}
.page-title .page-filter img {
    width: 25px;
}
#filter-nav {
    width: 270px;
    height: 100%;
    padding: 45px 30px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    box-shadow: -3px 0px 20px 0px #9a9a9a;

    display: flex;
    flex-direction: column;
    gap: 40px;
    z-index: 1;

    opacity: 0;
    visibility: hidden;
    transform: translateX(270px);
    transition: all 0.5s ease;
}
#filter-nav.open {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}
#filter-nav #filter-close {
    width: 16px;
    position: absolute;
    top: 27px;
    right: 29px;
}
#filter-filtering input {
    width: 97.9px;
    padding: 7px 10px;
    border: thin solid lightgray;
    border-radius: 10px;

    &:not(input[type='number']) {
        width: 210px;
    }
}
#filter-filtering,
#filter-sort {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 14px;
}
#filter-filtering > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}   
#filter-sort > div {
    display: flex;
    gap: 10px;
}
#filter-apply {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
#filter-apply button {
    padding: 7px 13px;
    background-color: var(--main-orange);
    color: white;
    border-radius: 10px;
    font-weight: 600;
}

.handle-btn {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 15px;
    right: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.handle-btn.rem-btn {
    background-image: url("../img/remove.png");
}
.handle-btn.fav-btn {
    background-image: url("../img/star-white.png");
}
.handle-btn.fav-clicked {
    background-image: url("../img/star-yellow.png");
}
.handle-btn.none {
    display: none;
}
