#fav-table {
    width: 1200px;
    min-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding-bottom: 50px;
}

.fav-item {
    width: 228px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    font-size: 14px;
}
.fav-item .flat-img {
    width: 228px;
}
.fav-item .flat-item-detail {
    padding: 10px 0;
}

.flat-item-detail > ul {
    display: flex;
    justify-content: space-between;
}